<div id="modal-sign" class="reveal-modal" data-reveal>

  <label>Name
    <input class="inp-name" type="text" placeholder="Name of the model">
  </label>

  <label>Blueprints</label>
  <input id="bp-side-top" class="bp-side" data-side="top" type="checkbox"><label for="bp-top">top</label>
  <input id="bp-side-bottom" class="bp-side" data-side="bottom" type="checkbox"><label for="bp-bottom">bottom</label>
  <input id="bp-side-left" class="bp-side" data-side="left" type="checkbox"><label for="bp-left">left</label>
  <input id="bp-side-right" class="bp-side" data-side="right" type="checkbox"><label for="bp-right">right</label>
  <input id="bp-side-front" class="bp-side" data-side="front" type="checkbox"><label for="bp-front">front</label>
  <input id="bp-side-back" class="bp-side" data-side="back" type="checkbox"><label for="bp-back">back</label>
</div>
