<div id="modal-sign" class="reveal-modal" data-reveal>

  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#sign-tab-register">Sign up</a></li>
    <li class="tab-title"><a href="#sign-tab-login">Login</a></li>
  </ul>
  <div class="tabs-content">

    <div class="content active" id="sign-tab-register">

      <label>Email
    	<input class="_email" type="text" placeholder="">
      </label>

      <label>User
    	<input class="_username" type="text" placeholder="">
      </label>

      <label>Password
    	<input class="_password" type="password" placeholder="">
      </label>

      <a class="_send" class="button">Send</a>

    </div>
    <div class="content" id="sign-tab-login">

      <label>User
        <input class="_username" type="text" placeholder="">
      </label>

      <label>Password
        <input class="_password" type="password" placeholder="">
      </label>

      <a class="_send" class="button">Send</a>
    </div>
  </div>
</div>
