<div id="modal-sign" class="reveal-modal" data-reveal>

  <ul class="tabs" data-tab>
    <li class="tab-title active register"><a>Sign up</a></li>
    <li class="tab-title login"><a>Login</a></li>
  </ul>
  <div class="tabs-content">

    <div class="content register" id="panel2-1">

      <label>Email
    	<input class="email" type="text" placeholder="">
      </label>

      <label>User
    	<input class="username" type="text" placeholder="">
      </label>

      <label>Password
    	<input class="password" type="password" placeholder="">
      </label>

      <a class="send" class="button">Send</a>

    </div>
    <div class="content login" id="panel2-2">

      <label>User
        <input class="username" type="text" placeholder="">
      </label>

      <label>Password
        <input class="password" type="password" placeholder="">
      </label>

      <a class="send" class="button">Send</a>
    </div>
  </div>
</div>
