<div class="row">
  <div class="panel small-12 medium-8 large-4 columns">

    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#design-tab-0">New</a></li>
      <li class="tab-title"><a href="#design-tab-1">Open</a></li>
    </ul>
    <div class="tabs-content">

      <div id="design-tab-0" class="content active">

        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">name</span>
          </div>
          <div class="small-9 columns">
            <input class="name" type="text" value="model-x" />
          </div>
        </div>

        <h4>cubes</h4>
        <div class="row">
          <div class="small-4 columns">
            <div class="row collapse">
              <div class="small-3 columns">
                <span class="prefix">x</span>
              </div>
              <div class="small-9 columns">
                <input class="div-x" type="number" value=3 />
              </div>
            </div>
          </div>
          <div class="small-4 columns">
            <div class="row collapse">
              <div class="small-3 columns">
                <span class="prefix">y</span>
              </div>
              <div class="small-9 columns">
                <input class="div-y" type="number" value=3 />
              </div>
            </div>
          </div>
          <div class="small-4 columns">
            <div class="row collapse">
              <div class="small-3 columns">
                <span class="prefix">z</span>
              </div>
              <div class="small-9 columns">
                <input class="div-z" type="number" value=3 />
              </div>
            </div>
          </div>
        </div>


        <h4>cubes</h4>
        <div class="row">
          <div class="small-4 columns">
            <div class="row collapse">
              <div class="small-3 columns">
                <span class="prefix">x</span>
              </div>
              <div class="small-9 columns">
                <input class="box-div-x" type="number" value=3 />
              </div>
            </div>
          </div>
          <div class="small-4 columns">
            <div class="row collapse">
              <div class="small-3 columns">
                <span class="prefix">y</span>
              </div>
              <div class="small-9 columns">
                <input class="box-div-y" type="number" value=3 />
              </div>
            </div>
          </div>
          <div class="small-4 columns">
            <div class="row collapse">
              <div class="small-3 columns">
                <span class="prefix">z</span>
              </div>
              <div class="small-9 columns">
                <input class="box-div-z" type="number" value=3 />
              </div>
            </div>
          </div>
        </div>



        <div class="row collapse">
              <!-- <div class="small-12 columns"> -->
            <textarea placeholder="description"></textarea>
        </div>

      </div>

      <div id="design-tab-1" class="content">
        <ul class="saved-model-list"></ul>
      </div>
    </div>

    <a class="start button">Start</a>


  <div class="preview small-12 medium-4 large-8 columns"></div>

</div>
