<div class="row" style="padding-top: 23px;">
  <div class="small-4 columns">
  	<a id="btn-levels" class="button expand">Play</a>
  	<a id="btn-challenge" class="button expand">Challenge</a>
  	<a id="btn-design" class="button expand">Design</a>
  </div>
  <div class="small-7 offset-1 columns">
    <div class="panel">Integer aliquam varius ipsum, id congue sapien viverra vel. Phasellus ut nunc nulla. Cras laoreet tincidunt mauris. Quisque mattis eros id tincidunt mattis. Cras diam dolor, imperdiet ac placerat vestibulum, volutpat in purus. Nullam sodales metus non nisl pulvinar, suscipit sodales libero luctus. In vestibulum lorem nec hendrerit mollis. Ut imperdiet, est eget laoreet condimentum, justo massa iaculis nulla, quis vehicula sem mi in diam. Nulla eu tortor eget ligula molestie vehicula id ut metus. Maecenas aliquet suscipit malesuada.</div>
   </div>
</div>