<nav class="top-bar" data-topbar>
  <ul class="title-area _brand ">
    <li class="name">
      <h1><a id="menu">sparita</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right _user">
      <li class="has-dropdown">
        <a class='_username'>username</a>
        <ul class="dropdown">
        <li><a class="_logout">Logout</a></li>
        </ul>
      </li>
    </ul>

    <ul class="right _sign">
      <li><a class="_register">sign up</a></li>
      <li><a class="_login">login</a></li>
    </ul>

    <ul class="_dynamic-cont right">

      <li data-tooltip title="Tooltips are awesome, you should totally use them!" class="has-tip toggle-topbar menu-icon"><a></a></li>
    </ul>
  </section>
</nav>
